<h2 class="page-header">Search Users</h2>
<form action="/users" method="GET">
    <label>Username</label>
    <input type = "text" username="username" value= "<%= searchOptions.username %>">
    <button type ="submit ">Search</button>
</form>
<br>
<% users.forEach(user => { %>
    <div><%= user.username %></div>
    <div class="btn-row">
    <a class="btn btn-primary" href="/users/<%= user.id %>">View</a>
    <a class="btn btn-primary" href="/users/<%= user.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', 
        { url: `/users/${user.id}`}) %>   
</div>
<% })%>

