
<div class="form-row">
    <div class="form-item">
        <label>Date<font color ="red">*</font></label>
    <input type="date" name="date" 
        value = "<%= log.date == null ? '' : 
        log.date.toISOString().split('T')[0] %>">
    </div>
    <div class="form-item">
        <label>Time Flown (in hours)<font color ="red">*</font></label>
        <input type="text" name="timeFlown" value = "<%= log.timeFlown %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Conditions</label>
        <input type="text" name="conditions" value = "<%= log.conditions %>">
    </div>
    <div class="form-item">
        <label>VFR or IFR<font color ="red">*</font></label>
        <input type="text" name= "vfrIFR" value = "<%= log.vfrIFR %>">
    </div>
</div>
<script type = "text/javascript">
</script>
<div class="form-row">
    <div class="form-item">
        <label>Tail Number</label>
        <input type="text" name="tailNo" value = "<%= log.tailNo %>">
    </div>
    <div class="form-item">
        <label>Solo or Instructor<font color ="red">*</font></label>
        <input type="text" name="solo" value = "<%= log.solo %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Instructor License (if applicable)</label>
        <input type="text" name="instructorLicense" value = "<%= log.instructorLicense %>">
    </div>
</div>
