<head>
    <style>
      table, th, td{
        border: 1 px solid black
    }
    </style>
</head>

<h2>Search Logs</h2>
<form action="/logs" method="GET">
    <div>
    <label>Flown After</label>
    <input type = "date" name="flownAfter" value= "<%= searchOptions.flownAfter %>">
    </div>
    <div>
        <label>Flown Before</label>
        <input type = "date" name="flownBefore" value= "<%= searchOptions.flownBefore %>">
        </div>
    <div>
        <label>VFR or IFR</label>
        <input type = "text" name="vfrIFR" value= "<%= searchOptions.vfrIFR %>">
        </div>
    <button type ="submit ">Search</button>
</form>
<br>
<div>
<table>
    <tr>
     <th>Date</th>  
     <th>Time Flown</th> 
     <th>VFR or IFR</th>
     <th>Conditions</th>
     <th>Tail Number</th>
    </tr>
<% logs.forEach(log => { %>
    <tr>
    <td><%= log.date.toISOString().split('T')[0] %></td>
   <td><%= log.timeFlown %></td>
    <td><%= log.vfrIFR %></td>
    <td><%= log.conditions %></td>
    <td><%= log.tailNo %></td>
    </tr>
<% })%>
</table>
</div>
